* {
  box-sizing: border-box;
  transition: 0.2s;
}

*::before,
*::after {
  transition: 0.2s;
}

body {
  background-color: #F9F9F9;
  font-family: 'Nunito Sans', sans-serif;
  color: #3A0031;
  margin: 0px auto;
  text-align: center;
}

.date_and_time {
  top: 0px;
  width: 100%;
  background-color: #3A0031;
  color: #F9F9F9;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.title {
  display: inline;
  font-size: 18px;
  padding: 0px 20px;
}

li {
  list-style: none;
}

.chore_assignments {
  padding-left: 0px;
}

.weekly_chores {
  width: 80%;
  margin: 0px auto;
  margin-top: 40px;
}

.chore_pic {
  width: 15vw;
  height: 15vw;
  filter: sepia(40%) brightness(120%);
  border-radius: 4px;
}

.weekly_chores ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chore_item {
  position: relative;
  text-align: center;
}

.chore_title::before {
  content: "{{ ";
  font-weight: normal;
}

.chore_title::after {
  content: " }}";
  font-weight: normal;
}

.chore_title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: 'Nova Square', cursive;
}

.profile_pic {
  background-color: #3A0031;
  position: absolute;
  bottom: -20px;
  right: -20px;
  border: 3px solid #3A0031;
  border-radius: 100%;
  width: 7vw;
  height: 7vw;
  object-fit: cover;
}

.daily_chores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 200px;
  width: 75%;
  margin: 100px auto 50px;
}

.daily_chores h1 {
  font-size: 5vw;
  text-transform: uppercase;
  font-family: 'Baloo Da', cursive;
  margin-bottom: -40px;
  margin-top: -10px;
}

.daily_chores h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.daily_chores h2::before {
  content: " — ";
}

.daily_chores h2::after {
  content: " — ";
}

.daily_chores .chore {
  width: auto;
  padding: 0px 50px;
  border-right: 1px dashed #939393;
  white-space: nowrap;
}

.daily_chores .chore:last-of-type {
  border-right: none;
}

.suggestion {
  font-style: italic;
  padding-bottom: 20px;
}

.backup h1 {
  display: inline-block;
  margin: 10px auto;
  margin-right: 10px;
}

.backup .suggestion {
  margin: 10px auto;
}

.calendar {
  width: 60%;
  margin: 0px auto;
  margin-bottom: 0px;
  padding: 50px;
  padding-bottom: 30px;
  position: relative;
}

.calendar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Nova Square', cursive;
}

.calendar .day {
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.day.passed {
  background-color: #3f3f3f;
  color: #F9F9F9;
}

.day.today {
  background-color: #00D5CD;
  color: #F9F9F9;
}

.day.future {
  background-color: #bdbdbd;
  color: #3f3f3f;
}

.day_of_week {
  font-size: 24px;
}

.day .date {
  display: none;
}
